// Variables
$bg-body: #EDEDED;
$bg-card: #FFF;
$bg-date: #FF7F11;
$bg-thumb: #000;
$button: #234474;
$color: #FFF;
$duration: .3s;
$link: lighten($bg-thumb, 30%);
$primary: #262626;
$secondary: #ACBFA4;
$secondary-light: #E2E8CE;
$complementary: #FF7F11;
$complementary-dark:#FF1B1C;
